* {
    box-sizing: border-box;
    text-align: center
}

html,
body {
    height: 100%;
    margin: 0;
}

header {
    background-color: #021859;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

header > h1 {
    margin: 0;
    color: rgb(223, 230, 223);
}
.title {
    padding: 2vh;
    margin: 0;
}

.blue {
    background-color: #0B9ED9
}

.img-div {
    margin: auto;
    width: 451px;
    height: 640px;
}

.img-div>img {
    width: 80%;
    height: auto;
}