* {
    box-sizing: border-box;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

html,
body {
    margin: 0;
    padding: 0
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #40AEF2;
    color: #020F59;
}

header {
    background-color: #0322CE;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

header>h1 {
    margin: 0;
    color: #E3E3E3;
    font-family: 'Noto Sans JP', sans-serif;
}

.about {
    height: 110%;
}


.about {
    width: 100%;
    margin-bottom: 0px;
    padding-bottom: 33px;

}

.title {
    padding: 5.5%;
    margin: 0;
    color: #020F59;
    font-family: 'Noto Sans JP', sans-serif;
}

.img-div {
    margin: auto;
    width: 200px;
    padding-top: 7px;
    padding-bottom: 8px;
}

.img-div>img {
    width: 40%;
    height: auto;
}

h2 {
    padding-top: 4%;
}

.text {
    padding-bottom: 1%;
    padding-left: 4%;
    padding-right: 4%;
}

.paragraph {
    text-align: left;
    font-size: 16px;
    line-height: 150%;
}

.timeline {

    padding-left: 4%;
    padding-right: 4%;
}

table {
    border-collapse: collapse;
    margin: auto;
}

td,
th {
    border: 1px solid black;
    padding: 0.5rem;
    text-align: left;
}

/* Color Theme Swatches in Hex */
.Two-jellyfish-on-a-blue-background-1-hex {
    color: #0424D9;
}

.Two-jellyfish-on-a-blue-background-2-hex {
    color: #031CA6;
}

.Two-jellyfish-on-a-blue-background-3-hex {
    color: #03178C;
}

.Two-jellyfish-on-a-blue-background-4-hex {
    color: #020F59;
}

.Two-jellyfish-on-a-blue-background-5-hex {
    color: #3DADF2;
}